.game__container {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(/fondo_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.game__navbar__container {
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.game__body {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 20px;
  overflow: hidden;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
.game__title {
  margin-top: 30px;
  font-size: 3rem;
  width: max-content;
  margin: 0 auto;
}
.game__navbar__desc {
  font-size: 3rem;
  filter: drop-shadow(3px 3px 0 #000);
}
.home__startgame__audio__controls {
  visibility: hidden;
}
.home__backtostart__link {
  text-decoration: none;
  color: var(--letterColor);
  position: absolute;
  bottom: 70px;
  right: 3%;
  font-size: 2rem;
  filter: drop-shadow(3px 3px 0 #000);
  letter-spacing: -5px;
}
.home__backtoplay__link {
  text-decoration: none;
  color: var(--letterColor);
  position: absolute;
  bottom: 70px;
  left: 3%;
  font-size: 2rem;
  filter: drop-shadow(3px 3px 0 #000);
  letter-spacing: -5px;
}
