.card__container {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}
.card__img {
  width: 100%;
}

@media (max-width: 576px) {
  .card__container {
    width: 60px;
    height: 60px;
  }
}
